h1 {
  height: 50px;
}


.voidType {
  display: none;
}

.head_void {
  background-color: rgb(7, 95, 146);
  color: whitesmoke;
  height: 50px;
  text-align: center;
  border-radius: 15px;
  padding-bottom: 25px;
  margin-bottom: 30px;
}

.head_void > h3 {
  padding: 10px;
}

.voidRegion > h4 {
  padding: 15px;
}

table > tbody {
  background-color: whitesmoke;
}

.btn-secondary {
  width: 120px;
  height: 50px;
}

.btn-lg {
  padding-bottom: 15px;
  padding-top: 15px;
}

.container-fluid {
  //  background-color: rgb(156, 154, 154);
  padding-bottom: 50px;
}


hr {
  border: 1px solid grey;
  border-radius: 5px;
}

th, td {
  text-align: center;
}

.colID {
  width: 50px;
}

.colName, .colLastname {
  width: 100px;
}

.colID_NAME {
  width: 150px;
}

.colDATA_START {
  width: 200px;
}

.colDATA_END {
  width: 200px;
}

.colBtn {
  width: 100px;
}

.colPesel {
  width: 100px;
}

.add {
  padding: 40px;
}

thead {
  background-color: rgb(63, 63, 63);
  color: white;
}

.btn-success {
  width: 200px;
  height: 50px;
}

.voteStart {
  width: 350px;
}

.region {
  padding-top: 25px;
}

a > .btn-primary, .btn-danger {
  width: 100px;
  height: 35px;
}

.table-hover tbody tr:hover {
  color: #212529;
  background-color: rgba(170, 170, 170, 0.637);
}

.voidCandidate {
  padding: auto;
}

.br {
  outline-offset: 15px;
}

section {
  display: grid;
  padding: 15px;
}

.btn-success {
  float: right;
}

#name, #lastname {
  width: 250px;
}

.addCandidate {
  width: 200px;
  margin-left: -100px; /* połowa szerokości */
  position: absolute;
  left: 50%;
}

.action-button {
  width: 100px;
  margin: 5px;
}

.buttons-column {
  display: flex;
}

.spinner-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
