<div *ngIf="candidatesLoading" class="spinner-wrapper">
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="!candidatesLoading" class="container-fluid">
  <div class="head_page">
    <div id="head1">
      <h1 class="title">Panel administracyjny</h1>
    </div>
    <a (click)="redirectToReport()">Przejdź do raportu</a>
  </div>

  <div class="voidType">
    <div class="head_void">
      <h3>Rodzaj wyborów</h3>
    </div>
  </div>
<!--  <section class="flex-column">-->
<!--    <div class="voidRegion">-->
<!--      <div class="head_void">-->
<!--        <h3>Region wyborów</h3>-->
<!--      </div>-->
<!--      <h4>Wybierz region dla którego chcesz aktywować wybory</h4>-->
<!--      <div>-->
<!--        <div class="col-md-2"></div>-->
<!--        <div class="col-md-8">-->
<!--          <div class="table-region">-->
<!--            <table class="table table-hover">-->
<!--              <thead class="thead-dark">-->
<!--                <tr>-->
<!--                  <th class="colID" scope="col">ID</th>-->
<!--                  <th class="colName" scope="col">Nazwa regionu</th>-->
<!--                  <th class="colDATA_START" scope="col">Data rozpoczęcia</th>-->
<!--                  <th class="colDATA_END" scope="col">Data zakończenia</th>-->
<!--                  <th class="colBtn" scope="col">Opcje</th>-->
<!--                </tr>-->
<!--              </thead>-->
<!--              <tbody>-->
<!--                <tr *ngFor="let type of voteTypes">-->
<!--                  <th>{{type.id}}</th>-->
<!--                  <td>{{type.name}}</td>-->
<!--                  <td>{{type.startDate | date}}</td>-->
<!--                  <td>{{type.endDate | date}}</td>-->
<!--                  <td class="buttons-column">-->
<!--                      <button type="button" class="btn btn-primary action-button">Wybierz</button>-->
<!--                      <button type="submit" class="btn btn-danger action-button">Usuń</button>-->
<!--                  </td>-->
<!--                </tr>-->
<!--              </tbody>-->
<!--            </table>-->
<!--          </div>-->
<!--          <br>-->
<!--        </div>-->
<!--        <div class="col-md-2"></div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </section>-->
  <section *ngIf="!candidatesLoading" class="flex-column">
    <div class="voidRegion">
      <div class="head_void">
        <h3>Kandydaci</h3>
      </div>
    </div>
    <div class="tablecandidateshow">
      <div class="col-md-12">
        <div class="table-candidate">
          <table class="table table-hover">
            <thead class="thead-dark">
              <tr>
                <th class="colName" scope="col">Imie </th>
                <th class="colLastname" scope="col">Nazwisko</th>
                <th class="colPesel" scope="col">Pesel</th>
                <th class="colPesel" scope="col">Numer listy / Partia</th>
                <th class="colID" scope="col">Pozycja</th>
                <th class="colName" scope="col">Region</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let candidate of candidates">
                <td>{{candidate.firstName}}</td>
                <td>{{candidate.lastName}}</td>
                <td>{{candidate.pesel}}</td>
                <td>{{candidate.party}}</td>
                <td>{{candidate.listPosition}}</td>
                <td>{{candidate.region}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="addButton">
          <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addCandidate">
            Dodaj kandydata
          </button>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </section>
</div>

<!-- Modal -->
<div class="modal fade" id="addCandidate" tabindex="-1" role="dialog" aria-labelledby="addCandidateTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="addCandidateTitle">Dodawania kandydata</h3>
      </div>
      <div class="modal-body">
        <form [formGroup]="addCandidateFormGroup">
          <div class="form-group">
            <label for="NameCandidate">Imie kandydata </label>
            <input formControlName="firstName" type="text" class="form-control" id="NameCandidate" aria-describedby="emailHelp"
              placeholder="Podaj imię kandydata">
          </div>
          <div class="form-group">
            <label for="LastnameCandidate">Nazwisko kandydata</label>
            <input formControlName="lastName" type="text" class="form-control" id="LastnameCandidate" placeholder="Podaj nazwisko kandydata">
          </div>
          <div class="form-group">
            <label for="PESELCandidate">PESEL kandydata</label>
            <input formControlName="pesel" type="text" class="form-control" id="PESELCandidate" placeholder="Podaj PESEL kandydata">
          </div>
          <div class="form-group">
            <label>Partia</label>
            <select class="form-control" formControlName="party" id="exampleFormControlSelect1">
              <option *ngFor="let p of parties" [value]="p.name">{{p.name}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="PositionList">Pozycja na liście</label>
            <input formControlName="listPosition" type="text" class="form-control" id="PositionList" placeholder="Pozycja na liście">
          </div>
          <div class="form-group">
            <label>Region</label>
            <select class="form-control" formControlName="region">
              <option *ngFor="let r of regions" [value]="r.name">{{r.name}}</option>
            </select>
          </div>
          <button [disabled]="addCandidateFormGroup.invalid" (click)="onAddCandidate()" class="btn btn-primary">Dodaj</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
      </div>
    </div>
  </div>
</div>
