<div class="report__wrapper">
    <iframe width="100%" height="100%"
            src="https://app.powerbi.com/view?r=eyJrIjoiNzFlYmMzNDItMWVlNy00MjQ0LTliYjktM2Q0ZDg0NzM5MzA3IiwidCI6IjFkMzRjYTY4LWRlZGMtNDlkZS1iNzBkLTk3NmI0ZWNiN2I3NSJ9&fbclid=IwAR1iVp3kOznoQYMgoE8Fnc_Zk1oN7LkdImkTFo-4rdU-8XVscb7WlV2N35s"
            frameborder="0" allowFullScreen="true"></iframe>
</div>
