.navbar {
  height: 50px;
}

.container {
  padding: 50px;
}

.text {
  text-align-last: center;
  padding-bottom: 10px;
}

.row {
  padding-left: auto;
  padding-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-md-8 {
  background-color: rgb(190, 190, 190);
  padding: 50px;

}

hr {
  border: 1px solid grey;
  border-radius: 5px;
}

.login-form{
  padding-bottom: 10px;
}
.button{
  width: 200px;
}

input{
  text-align: center;
}

.footer {
  height: 35px;
  position: relative;
}

.footer-dark {
  color: #fff;
}
