.navbar {
  height: 50px;
}

.container {
  padding-top: 50px;
}

.text {
  text-align-last: center;
}

.row {
  padding-left: auto;
  padding-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-md-8 {
  background-color: rgb(190, 190, 190);
  padding: 50px;

}

hr {
  border: 1px solid grey;
  border-radius: 5px;
}

.admin-login__button {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.vote-button {
  margin-left: 10px;
}
