<div *ngIf="votesLoading" class="spinner-wrapper">
    <mat-spinner [mode]="'indeterminate'"></mat-spinner>
</div>

<div *ngIf="!votesLoading" class="container-fluid">
    <section *ngIf="!hasUserVoted && votes?.length && !infoClosed" class="flex-column">
        <div class="information">
            <div class="alert alert-warning alert-dismissable">
                <strong>Uwaga!</strong>
                <a (click)="onInfoClose()" href="#" class="btn btn-success" data-dismiss="alert" role="button" aria-label="close">Zamknij</a>
                <br>
                <br>
                <p>Głosować można tylko na jedną listę kandydatów, zaznaczając na karcie do głosowania wybraną osobę
                    (należy kliknąć w pole wybrananego przez siebie kandydata).
                    W kratce z lewej strony obok nazwiska jednego z kandydatów z listy pojawi się znaczek, przez co
                    wskazuje się wybraną osobę do otrzymania mandatu.</p>
                <br>
                <p>W przypadku nie zaznaczenia jakiegokolwiek pola,
                    żadna z osób nie otrzyma Twojego głosu i zostanie on podliczony jako <strong>nieważny</strong>!
                </p>
            </div>
        </div>
    </section>
    <section class="flex-column">
        <div class="comunication">
            <div *ngIf="hasUserVoted">
                <h4 class="text-center">Oddano głos. <a (click)="redirectToReport()">Przejdź do
                    raportu</a></h4>
            </div>
            <div *ngIf="!votes?.length">
                <h2 class="text-center" style="color: darkred"> Żadne głosowanie nie jest aktualnie dostępne dla Twojego
                    regionu. </h2>
            </div>
        </div>
    </section>
    <ng-container *ngIf="!hasUserVoted">
        <section class="flex-column">
            <div class="row">
                <h2>Wybierz swojego kandydata:</h2>
                <div class="voting-wrapper">
                    <div *ngFor="let vote of votes"  class="vote-wrapper">
                        <div class="preview-info">
                            <table class="table table-hover">
                                <thead class="thead-dark">
                                <tr>
                                    <th class="colCheck" colspan="2" scope="col">{{vote.name}}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let candidate of vote.candidates">
                                    <th><input (change)="onInputSelect(candidate, vote)" type="radio" id="radio-button-nan"
                                               name="radio-button-kandydat">
                                    </th>
                                    <td>{{candidate.firstName}} {{candidate.lastName}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div>
                    <input type="button" (click)="onVoteSubmit()" value="Oddaj głos"
                           class="btn btn-lg btn-primary btn-block vote-button"/>
                </div>
            </div>
        </section>
    </ng-container>
</div>
