.information{
	padding-top:25px;
	padding-bottom:25px;
	padding-left: 380px;
	padding-right: 380px;
}
.section{
	display: grid;
}
.btn-success{
	float: right;
}
.table-listVoting{
	padding: 25px;
}
h2{
	text-align: center;
	padding-bottom: 25px;
}

.alert{
	border-radius: 10px;
}

.vote-wrapper{
	background-color:  rgb(170, 170, 170);
	width: 300px;
	margin: 5px 20px 5px 0;
}

thead{
	background-color: rgb(63, 63, 63);
	color: white;
}

.table-hover tbody tr:hover {
    color: #212529;
    background-color: rgba(141, 35, 35, 0.637);
  }

  th,td{
	text-align: center;
  }

.colCheck{
	width: 50px;
	text-align: center;
}
.colName{
	text-align: center;
}

.voting-wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.table {
	margin-bottom: 0;
}

.vote-button {
	width: 200px !important;
	margin: 20px auto;
}

.spinner-wrapper {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
