.navbar {
	height: 50px;
	position: fixed;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	background-color: #075f92;
	color: #ffffff;
}

.container-fluid {
	height: 100%;
}
