<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <button mat-icon-button>
      <mat-icon [matTooltip]="'Wyloguj'" (click)="logout()">exit_to_app</mat-icon>
    </button>
</nav>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
